@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'vazir';
  src:
    local('vazir'),
    url('./fonts/Vazir.ttf') format('truetype');
}
@font-face {
  font-family: 'vazir-medium';
  src:
    local('vazir'),
    url('./fonts/Vazir-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'vazirBold';
  src:
    local('vazir'),
    url('./fonts/vazirBold.ttf') format('truetype');
}

@font-face {
  font-family: 'titr';
  src:
    local('titr'),
    url('./fonts/Titr.ttf') format('truetype');
}

@layer components {
  .container {
    @apply mx-auto px-2;
  }
  @font-face {
    font-family: 'vazirBold';
    src: url('./fonts/vazirBold.ttf') format('truetype');
  }
}

* {
  scroll-behavior: smooth;
  font-family: 'vazir';
}

/* Not-Found Page Styles */
.not-found {
  min-height: 37.8rem;
  height: 48em;
  background-color: #141019;
  background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
}

#handboy {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 98% 98%;
  transform-box: fill-box;
}

#girllight {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 0% 97%;
  transform-box: fill-box;
}

#hairgirl {
  animation: swinghair ease-in-out 1.3s infinite alternate;
  transform-origin: 60% 0%;
  transform-box: fill-box;
}

#zero {
  transform-origin: bottom;
  transform-box: fill-box;
}

/*************swing************/
@keyframes swing {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/*************swing hair************/
@keyframes swinghair {
  0% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(-6deg);
  }
}

/* Hero Swiper */

.swiper {
  width: 100% !important;
  height: 100% !important;
  cursor: pointer;
  background-color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  color: rgb(237, 237, 237);
  background-color: rgb(93, 93, 93);
  border-radius: 50%;
  width: 2.5rem !important;
  height: 2.5rem !important;
  display: none;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 12px;
  font-weight: bold;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(219, 126, 183, 0.708);
  transition: all ease-in-out 400ms;
}
.swiper-button-prev {
  right: 50px !important;
}

.swiper-button-next {
  left: 50px !important;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  display: flex;
}

/* Similar Product Swiper*/
.similarproduct {
  background-color: transparent;
}
.similarproduct .swiper-slide img {
  max-height: 300px;
}
.similarproduct .swiper-button-prev,
.similarproduct .swiper-button-next {
  color: rgb(237, 237, 237);
  background-color: rgb(93, 93, 93);
  border-radius: 50%;
  width: 2.5rem !important;
  height: 2.5rem !important;
  display: flex;
}
.similarproduct .swiper-button-prev:after,
.similarproduct .swiper-button-next:after {
  font-size: 12px;
  font-weight: bold;
}
.similarproduct .swiper-button-prev:hover,
.similarproduct .swiper-button-next:hover {
  background-color: rgba(219, 126, 183, 0.708);
  transition: all ease-in-out 400ms;
}
.similarproduct .swiper-button-prev {
  right: 10px !important;
}

.similarproduct .swiper-button-next {
  left: 10px !important;
}
/* UserIcon Style */
.userIcon {
  margin-top: 1rem !important;
  margin-right: 4rem;
}
@media (min-width: 700px) {
  .userIcon {
    margin-top: 1rem !important;
    margin-right: 7rem;
  }
}
@media (min-width: 1024px) {
  .userIcon {
    margin-top: 4rem !important;
    margin-right: 3rem;
  }
}

/* Loader */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
  0% {
    box-shadow:
      20px 0 #ff69b4,
      -20px 0 #ff69b4;
    background: #ff69b4;
  }
  33% {
    box-shadow:
      20px 0 #ff69b4,
      -20px 0 #ff69b4;
    background: #ffb6c1;
  }
  66% {
    box-shadow:
      20px 0 #ffb6c1,
      -20px 0 #ff69b4;
    background: #ffb6c1;
  }
  100% {
    box-shadow:
      20px 0 #ffb6c1,
      -20px 0 #ff69b4;
    background: #ff69b4;
  }
}
